# Loops

Loops are a way to repeatedly execute some code statement.

## While loop

While loops are called **"indefinite loops"** because they keep going until a logical condition becomes **False**.

In [ ]:
# while syntax
# if the condition is true then repeate otherwise stop
while condition:
  # body --> the code you want to repeat
  # counter--> to make sure this loop doesnot run forever

An Infinite Loop!

What is wrong with this loop?

In [ ]:
n = 5
while n > 0:
  print(n)
print('Done')

In [ ]:
n = 5
while n > 0:
  print(n)
  n = n -1
print('Blastoff')
print(n)

5
4
3
2
1
Blastoff
0

### Breaking out of a loop
* The **break** statement ends the current loop and jumps to the statement immediately following the loop 
* It is like a loop test that can happen anywhere in the body of the loop

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done')

> hi
hi
> hello
hello
> done
Done

### Continue keywords
* The **continue** statement ends the current iteration and jumps to the top of the loop and starts the next iteration (ignore condition)

In [ ]:
while True:
  line = input('> ')
  if line[0]=='#':
    continue
  if line =='done':
    break
  print(line)
print('Done')

> hello
hello
> # dont print this
> done
Done

## for Loop
for loops are called **"definite loops"** because they execute an exact number of times.

In [ ]:
for i in [5, 4, 3, 2, 1]:
  print(i)
print('BlastOff')

5
4
3
2
1
BlastOff

In [ ]:
friends = ['Smanga', 'Ali', 'Sarah', 'Tom']
for friend in friends:
  print('Happy New Year: ', friend)

print('Done')

Happy New Year:  Smanga
Happy New Year:  Ali
Happy New Year:  Sarah
Happy New Year:  Tom
Done

'i' and 'friend' are called iteration variables that change each time through a loop.

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in planets:
    print(planet, end=' ') # print all on same line

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [ ]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1
for mult in multiplicands:
    product = product * mult
product

360

And even iterate over each character in a string:

In [ ]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
msg = ''
# print all the uppercase letters in s, one at a time
for char in s:
    if char.isupper():
        print(char, end='')

HELLO

### range()


`range()` is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

For example, if we want to repeat some action 5 times:

In [ ]:
for i in range(5):
    print("Doing important work. i =", i)

Doing important work. i = 0
Doing important work. i = 1
Doing important work. i = 2
Doing important work. i = 3
Doing important work. i = 4

You might assume that `range(5)` returns the list `[0, 1, 2, 3, 4]`. The truth is a little bit more complicated:

In [ ]:
r = range(5)
list(r)

[0, 1, 2, 3, 4]

`range` returns a "range object". It acts a lot like a list (it's iterable), but doesn't have all the same capabilities. As we saw in the [previous tutorial](https://www.kaggle.com/colinmorris/lists), we can call `help()` on an object like `r` to see Python's documentation on that object, including all of its methods. Click the 'output' button if you're curious about what the help page for a range object looks like.

In [ ]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __reduce__(...)
 |      helper for pickle
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value, [start, [stop]]) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

Just as we can use `int()`, `float()`, and `bool()` to convert objects to another type, we can use `list()` to convert a list-like thing into a list, which shows a more familiar (and useful) representation:

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

Note that the range starts at zero, and that by convention the top of the range is not included in the output. `range(5)` gives the numbers from 0 up to *but not including* 5. 

This may seem like a strange way to do things, but the documentation (accessed via `help(range)`) alludes to the reasoning when it says:

> `range(4)` produces 0, 1, 2, 3.  These are exactly the valid indices for a list of 4 elements.  

So for any list `L`, `for i in range(len(L)):` will iterate over all its valid indices.

In [ ]:
nums = [1, 2, 4, 8, 16]
for i in range(len(nums)):
    nums[i] = nums[i] * 2
nums

[2, 4, 8, 16, 32]

This is the classic way of iterating over the indices of a list or other sequence.

> **Aside**: `for i in range(len(L)):` is analogous to constructs like `for (int i = 0; i < L.length; i++)` in other languages.

### `enumerate`

`for foo in x` loops over the elements of a list and `for i in range(len(x))` loops over the indices of a list. What if you want to do both?

Enter the `enumerate` function, one of Python's hidden gems:

In [ ]:
def double_odds(nums):
    for i, num in enumerate(nums):
        if num % 2 == 1:
            nums[i] = num * 2

x = list(range(10))
double_odds(x)
x

[0, 2, 2, 6, 4, 10, 6, 14, 8, 18]

Given a list, `enumerate` returns an object which iterates over the indices *and* the values of the list.

(Like the `range()` function, it returns an iterable object. To see its contents as a list, we can call `list()` on it.)

In [ ]:
list(enumerate(['a', 'b']))

[(0, 'a'), (1, 'b')]

We can see that that the things we were iterating over are tuples. This helps explain that `for i, num` syntax. We're "unpacking" the tuple, just like in this example from the previous tutorial:

In [ ]:
x = 0.125
numerator, denominator = x.as_integer_ratio()

We can use this unpacking syntax any time we iterate over a collection of tuples.

In [ ]:
nums = [
    ('one', 1, 'I'),
    ('two', 2, 'II'),
    ('three', 3, 'III'),
    ('four', 4, 'IV'),
]

for word, integer, roman_numeral in nums:
    print(integer, word, roman_numeral, sep=' = ', end='; ')

1 = one = I; 2 = two = II; 3 = three = III; 4 = four = IV;

This is equivalent to the following (more tedious) code:

In [ ]:
for tup in nums:
    word = tup[0]
    integer = tup[1]
    roman_numeral = tup[2]
    print(integer, word, roman_numeral, sep=' = ', end='; ')

1 = one = I; 2 = two = II; 3 = three = III; 4 = four = IV;

## List comprehensions

List comprehensions are one of Python's most beloved and unique features. The easiest way to understand them is probably to just look at a few examples:

In [ ]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Here's how we would do the same thing without a list comprehension:

In [ ]:
squares = []
for n in range(10):
    squares.append(n**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

Here's a solution using a list comprehension:

In [ ]:
def count_negatives(nums):
    return len([num for num in nums if num < 0])

Much better, right?

Well if all we care about is minimizing the length of our code, this third solution is better still!

In [ ]:
def count_negatives(nums):
    # Reminder: in the "booleans and conditionals" exercises, we learned about a quirk of 
    # Python where it calculates something like True + True + False + True to be equal to 3.
    return sum([num < 0 for num in nums])