# Lists

Lists in Python represent ordered sequences of values. They can be defined with comma-separated values between square brackets. For example, here is a list of the first few prime numbers:

![alt text](https://img.icons8.com/cotton/2x/list--v2.png)

In [ ]:
primes = [2, 3, 5, 7]

In [ ]:
print(primes)

[2, 3, 5, 7]

We can put other types of things in lists:

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planets[2]

'Earth'

In [ ]:
planets[7]

'Neptune'

In [ ]:
planets[-1]

'Neptune'

In [ ]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']

In [ ]:
for i in friends:
  print(i)

Joseph
Glenn
Sally

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends:
    print ('Happy New Year:',  friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

Including other lists:

In [ ]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], # (Comma after the last element is optional)
]
#(I could also have written this on one line, but it can get hard to read)
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [ ]:
print(hands)

[['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [ ]:
print(hands[0][0])

J

A list can contain a mix of different types:

In [ ]:
my_favourite_things = [32, 'raindrops on roses', help]
# (Yes,  Python's help function is *definitely* one of my favourite things)

In [ ]:
help(planets)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
sorted(my_favourite_things)

TypeError: ignored

## Indexing

We can access individual list elements using Python's square bracket indexing syntax.

In [ ]:
friends = ['Tom', 'Smanga', 'Ali']
print(friends[1])

Smanga

In [ ]:
friends[0]

'Tom'

In [ ]:
friends[-1]

'Ali'

In [ ]:
friends[-2]

'Smanga'

### range Function
The **range** function **returns a list of numbers** that range from zero to one less than the **parameter**.

In [ ]:
print(range(7))

range(0, 7)

In [ ]:
print(list(range(0,7)))

[0, 1, 2, 3, 4, 5, 6]

### Concatenating lists using '+'

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a+b)

[1, 2, 3, 4, 5, 6]

## Slicing

In [ ]:
t = [9, 41, 12, 3, 74, 15]

In [ ]:
t[1:3]

[41, 12]

In [ ]:
t[:4]

[9, 41, 12, 3]

In [ ]:
t[3:]

[3, 74, 15]

In [ ]:
t[:]

[9, 41, 12, 3, 74, 15]

In [ ]:
t[-3:]

[3, 74, 15]

<!-- TODO: include third 'step size' slice argument and its use for reversing? -->

## Mutating lists

Lists are mutable, meaning they can be modified "in place".

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [ ]:
friends = ['Tom', 'Smanga', 'Ali']

In [ ]:
friends[0] = 'Linda'
friends

['Linda', 'Smanga', 'Ali']

In [ ]:
friends[:2] = ['T', 'S']
print(friends)
# (Okay, that was rather silly. Let's give them back their old names)
friends[:4] = ['Tom', 'Smanga', 'Ali', 'Sarah',]

['T', 'S', 'Ali']

In [ ]:
friends

['Tom', 'Smanga', 'Ali', 'Sarah']

## List functions

Python has several useful builtin functions for working with lists.

`len` gives the length of a list:

In [ ]:
x = list()
print(type(x))

<class 'list'>

In [ ]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
len(friends)

4

`sorted` returns a sorted version of a list:

In [ ]:
sorted(friends, reverse=True)

['Tom', 'Smanga', 'Sarah', 'Ali']

`sum` does what you might expect:

In [ ]:
primes = [2, 3, 5, 7]
sum(primes)

17

We've previously used the `min` and `max` to get the minimum or maximum of several arguments. But we can also pass in a single list argument.

In [ ]:
max(primes)

7

#### Is Something in a list?
* Python provides two operators that let you check if an item is in a list.
* True or Fales logic operators

In [ ]:
some = [1, 9, 21, 10, 16]
9 in some

True

In [ ]:
15 in some

False

## Build a list from scratch

`list.append` modifies a list by adding an item to the end:

In [ ]:
stuff = []

In [ ]:
stuff.append("book")
stuff.append(99)
print(stuff)

['book', 99]

In [ ]:
stuff.append('cookie')

Why does the cell above have no output? Let's check the documentation by calling `help(stuff.append)`.

> **Aside:** `append` is a method carried around by *all* objects of type list, not just `stuff`, so we also could have called `help(list.append)`. However, if we try to call `help(append)`, Python will complain that no variable exists called "append". The "append" name only exists within lists - it doesn't exist as a standalone name like builtin functions such as `max` or `len`.

In [ ]:
help(stuff.append)

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

In [ ]:
print(stuff)

['book', 99, 'cookie']

`list.pop` removes and returns the last element of a list:

In [ ]:
stuff.pop()

'cookie'

In [ ]:
stuff

['book', 99]

### Searching lists

Where does book fall in the order of stuff? We can get its index using the `list.index` method.

In [ ]:
stuff.append('Headphones')
stuff.append('SmartPhone')
print(stuff)

['book', 99, 'Headphones', 'SmartPhone']

In [ ]:
stuff.index('book')

0

In [ ]:
help(stuff.index)

Help on built-in function index:

index(...) method of builtins.list instance
    L.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [ ]:
stuff.index('SmartPhone')

3

## Tuples

Tuples are almost exactly the same as lists. They differ in just two ways.

**1:** The syntax for creating them uses (optional) parentheses rather than square brackets

In [ ]:
t = (1, 2, 3)

In [ ]:
t = 1, 2, 3 # equivalent to above
t

(1, 2, 3)

**2:** They cannot be modified (they are *immutable*).

In [ ]:
t[0] = 100

TypeError: ignored

Tuples are often used for functions that have multiple return values.

For example, the ``as_integer_ratio()`` method of float objects returns a numerator and a denominator in the form of a tuple:

In [ ]:
x = 0.125
x.as_integer_ratio()

(1, 8)

In [ ]:
1/8

0.125

These multiple return values can be individually assigned as follows:

In [ ]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)

0.125

Finally we have some insight into the classic Stupid Python Trick™ for swapping two variables!

In [ ]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1

## Strings and Lists

In [ ]:
abc = 'With three worlds'

convert a string to list of words

In [ ]:
list_of_words = abc.split()

In [ ]:
list_of_words

['With', 'three', 'worlds']

In [ ]:
print(len(list_of_words))

3

In [ ]:
print(list_of_words[0])

With

In [ ]:
line = 'A lot             of spaces'

In [ ]:
etc = line.split()

In [ ]:
print(etc)

['A', 'lot', 'of', 'spaces']

When you do not specify a delimiter, multiple spaces are trated like "one" delimiter.

In [ ]:
line = 'first;second;third'
thing = line.split()
print(thing)
print(len(thing))

['first;second;third']
1

You can specify what delimiter character to use in the splitting.

In [ ]:
thing = line.split(";")
print(thing)
print(len(thing))

['first', 'second', 'third']
3