In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.6.tgz
!tar xvf spark-2.4.4-bin-hadoop2.6.tgz
!pip install -q findspark
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.6"
import findspark
findspark.init()
import pyspark
sc = pyspark.SparkContext(appName="PySpark_dataframe")

# Functional Programming

In [ ]:
import pyspark
sc = pyspark.SparkContext(appName="PySpark_RDD")

## Lambda Function

**What are anonymous functions in Python?**

* Lambda functions are anonymous functions in Python
* Very powerful and used in Python. Quite efcient with map() and filter()
* Lambda functions create functions to be called later similar to def
* It returns the functions without any name (i.e anonymous)
* Inline a function denition or to defer execution of a code

**Lambda function syntax**
* The general form of lambda functions is

lambda *argument*: **expression**

In [ ]:
double = lambda x: x*2

In [ ]:
print(double(6))

12

### Different between def vs lambda functions
* No return statement for lambda
* Can put lambda function anywhere

In [ ]:
def cube(x):
  return x ** 3

g = lambda x: x**3

print(g(10))
print(cube(10))

1000
1000

In [ ]:
# greater than 50
def gt50(i):
    if i > 50:
        return True
    else:
        return False

In [ ]:
print(gt50(4))
print(gt50(51))

False
True

Now let’s use the lambda notation to define the function.

In [ ]:
gt50 = lambda i: i > 50

In [ ]:
print(gt50(4))
print(gt50(51))

False
True

In [ ]:
#let's shuffle our list to make it a bit more interesting
from random import shuffle
l = list(range(100))
shuffle(l)
rdd = sc.parallelize(l)

Let’s filter values from our list which are equals or less than 50 by applying our “gt50” function to the list using the “filter” function. Note that by calling the “collect” function, all elements are returned to the Apache Spark Driver. This is not a good idea for BigData, please use “.sample(10,0.1).collect()” or “take(n)” instead.

In [ ]:
rdd.filter(gt50).collect()

We can also use the lambda function directly.

In [ ]:
rdd.filter(lambda i: i > 50).collect()

Let’s consider the same list of integers. Now we want to compute the sum for elements in that list which are greater than 50 but less than 75. Please implement the missing parts.

In [ ]:
rdd.filter(lambda x: $$).filter(lambda x: $$).$$()

In [ ]:
# Solution
rdd.filter(lambda x: x > 50).filter(lambda x: x <75).sum()

1500

### map()- function


*   map() function takes a function and a list and returns a new list which contains items returned by that function for each item

* The general syntax of map()

map(*function*, **list**)

In [ ]:
items = [1, 2, 3, 4]
list(map(lambda x: x+2, items))

[3, 4, 5, 6]

### filter() - function
* filter() function takes a function and a list and returns a new list for which the function evaluates as true
* General syntax of filter()

filter(*function*, **list**)

In [ ]:
list(filter(lambda x: (x%2 !=0), items))

[1, 3]

## Your Turn:
* Print my_list 
* Square each item in my_list using map() and lambda().
* Print the result of map function.

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Print my_list in the console
print("Input list is", ____)

# Square all numbers in my_list
squared_list_lambda = list(____(lambda x: ____, my_list))

# Print the result of the map function
print("The squared numbers are", ____)

* Print my_list2 
* Filter the numbers divisible by 10 from my_list2 using filter() and lambda().
* Print the numbers divisible by 10 from my_list2

In [ ]:
# Print my_list2 in the console
print("Input list is:", ___)

# Filter numbers divisible by 10
filtered_list = list(___(lambda x: (x%10 == ___), my_list2))

# Print the numbers divisible by 10
print("Numbers divisible by 10 are:", ___)